<div class="mb-4">
  <table class="table table-striped">
    <thead class="thead">
      <tr>
        <th>Serial</th>
        <th>Client</th>
        <th>Zone</th>
        <th>State</th>
        <th>Scheduled Start</th>
        <th>Scheduled Finish</th>
        <th>Atomizer Power</th>
        <th>Volume mL</th>
	     <th>Activated</th>
      </tr>
    </thead>
    <tbody>
      {% for smart_atomizer in smart_atomizers %}
        <tr>
          <td>
            <a href="{% url 'edit_smart_atomizer' smart_atomizer.pk %}">{{ smart_atomizer.serial }}</a>
          </td>
          <td>
            <a>{{ smart_atomizer.zone.client.name }}</a>
          </td>
          <td>
            <a>{{ smart_atomizer.zone }}</a>
          </td>
          <td>
            {% if smart_atomizer.state == True %}
              On
            {% else %}
              Off
            {% endif %}
          </td>
          <td>
            {{ smart_atomizer.scheduled_start }}
          </td>
          <td>
            {{ smart_atomizer.scheduled_finish }}
          </td>
          <td>
            {{ smart_atomizer.atomizer_power }}
          </td>
          <td>
            {{ smart_atomizer.volume }}
          </td>
          <td>
            {{ smart_atomizer.activated }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include 'includes/pagination.html' %}
</div>
