{% extends 'base.html' %}

{% block title %}
{% load static %}
{% endblock %}

{% block breadcrumb %}
        <li class="breadcrumb-item active"><a href="{% url 'smart_atomizers' %}">Alertas</a></li>
{% endblock %}

{% block content %}
<div class="mb-4">
</div>

<div class="mb-4">
  <h3>Volumen Bajo</h3>
  <table class="table table-striped">
    <thead class="thead">
      <tr>
        <th>Serial</th>
        <th>Empresa</th>
        <th>Zona</th>
        <th>Estado</th>
        <th>Volumen mL</th>
        <th>Alerta mL</th>
		<th>Activated</th>
      </tr>
    </thead>
    <tbody>
      {% for alert in alerts %}
        <tr>
          <td>
            <a href="{% url 'edit_smart_atomizer' alert.smart_atomizer.pk %}">{{ alert.smart_atomizer.serial }}</a>
          </td>
          <td>
            <a>{{ alert.smart_atomizer.zone.client.name }}</a>
          </td>
          <td>
            <a>{{ alert.smart_atomizer.zone }}</a>
          </td>
          <td>
            {% if alert.smart_atomizer.state == True %}
              On
            {% else %}
              Off
            {% endif %}
          </td>
          <td>
            {{ alert.smart_atomizer.volume }}
          </td>
          <td>
            {{ alert.volume_warning }}
          </td>
          <td>
            {{ alert.smart_atomizer.activated }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include 'includes/pagination.html' %}
</div>

<div class="mb-4" style="background-color: black;">
  <h3 style="color: white">Sync Log</h3>
  <textarea rows="10" cols="70" style="background-color: black; color: white; resize: none;" disabled>
  {% for syncLog in syncLogs %}
    $ ATOMIZADOR_ID: {{syncLog.smart_atomizer.pk}}, notas: {{ syncLog.comment }}, timestamp: {{ syncLog.log_time }}
    {% endfor %}
  </textarea> 
</div>

<div class="mb-4" style="background-color: black;">
  <h3 style="color: white">Volume Log</h3>
  <textarea rows="10" cols="70" style="background-color: black; color: white; resize: none;" disabled>
  {% for volumeLog in volumeLogs %}
    $ ATOMIZADOR_ID: {{volumeLog.smart_atomizer.pk}}, volumeN: {{ volumeLog.volume }}%, timestamp: {{ volumeLog.log_time }}
    {% endfor %}
  </textarea> 
</div>

{% endblock %}

{% block scripts %}

<script type="text/javascript">
  document.getElementById("alerts_link").classList.add("active");
  
</script>
{% endblock %}
