{% extends 'base.html' %}

{% block title %}
{% load static %}
{% endblock %}

{% block breadcrumb %}
        <li class="breadcrumb-item active"><a href="{% url 'smart_atomizers' %}">Alerts</a></li>
{% endblock %}

{% block content %}
<div class="mb-4">
</div>

<div class="mb-4">
  <h3>Calendar</h3>
  <div id="content-main">
          <ul class="object-tools">
            <li>
                <a href={{ previous_month }}>
                    Previous month
                </a>
            </li>
            <li>
                <a href={{ next_month }}>
                    Next month
                </a>
            </li>
        </ul>
        {{ calendar }}
  </div>
</div>

<div class="mb-4" style="background-color: black;">
  <h3 style="color: white">Sync Log</h3>
  <textarea rows="10" cols="70" style="background-color: black; color: white; resize: none;" disabled>
  {% for syncLog in syncLogs %}
    $ DEVICE_ID: {{syncLog.smart_atomizer.pk}}, note: {{ syncLog.comment }}, timestamp: {{ syncLog.log_time }}
    {% endfor %}
  </textarea> 
</div>

<div class="mb-4" style="background-color: black;">
  <h3 style="color: white">Volume Log</h3>
  <textarea rows="10" cols="70" style="background-color: black; color: white; resize: none;" disabled>
  {% for volumeLog in volumeLogs %}
    $ DEVICE_ID: {{volumeLog.smart_atomizer.pk}}, volume: {{ volumeLog.volume }}%, timestamp: {{ volumeLog.log_time }}
    {% endfor %}
  </textarea> 
</div>

{% endblock %}

{% block scripts %}

<script type="text/javascript">
  document.getElementById("alerts_link").classList.add("active");
  
</script>
{% endblock %}
