{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block breadcrumb %}
        <li class="breadcrumb-item active"><a href="{% url 'clients' %}">Empresas</a></li>
{% endblock %}

{% block content %}
<div class="mb-4">
        <a href="{% url 'new_client' %}" class="btn btn-primary">Nueva Empresa</a>
</div>
<div class="mb-4">
  <table class="table table-striped">
    <thead class="thead">
      <tr>
        <th>Empresa</th>
        <th>Nombre Contacto</th>
        <th>Télefono</th>
        <th>Dirección</th>
        <th>Descripción</th>
      </tr>
    </thead>
    <tbody>
      {% for client in clients %}
        <tr>
          <td>
            <a href="{% url 'zones' client.pk %}">{{ client.name }}</a>
          </td>
          <td>
            {{ client.contact_name }}
          </td>
          <td>
            {{ client.contact_phone }}
          </td>
          <td>
            {{ client.address }}
          </td>
          <td>
            {{ client.description }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include 'includes/pagination.html' %}
</div>
{% endblock %}

{% block scripts %}

<script type="text/javascript">
  document.getElementById("clients_link").classList.add("active");
  
</script>
{% endblock %}