{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block breadcrumb %}
        <li class="breadcrumb-item active"><a href="{% url 'dashboard' %}">Dashboard</a></li>
{% endblock %}

{% block content %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
google.charts.load("current", {packages:['corechart']});
google.charts.setOnLoadCallback(drawChart);
function drawChart() {
  console.log("Entered Draw");
  var clientsTemp = []
  clientsTemp.push(["Client", "Volume %"])
  {% for client in clients %}
  	console.log("Inside For")
  	var row = []
  	row.push({{client|safe}}['name'])
  	row.push({{client|safe}}['volume'])
  	console.log(row)
  	clientsTemp.push(row)
  {% endfor %}


  var data = google.visualization.arrayToDataTable(clientsTemp);

  var view = new google.visualization.DataView(data);
  view.setColumns([0, 1]);

  var options = {
    title: "",
    width: 600,
    height: 400,
    bar: {groupWidth: "95%"},
    legend: { position: "none" },
    vAxis: {
    	maxValue: 100,
    	minValue: 0
    }
  };
  var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
  chart.draw(view, options);
}
</script>
<div class="mb-12 "><h2 stle="margin: 25px;">Clients Liquid Volume</h2></div>
<div class="mb-12"><div id="columnchart_values" style="width: 900px; height: 300px;" align="center"></div></div>

<div class="mb-12"><h2 style="margin: 25px;">Active Atomizers</h2></div>


{% endblock %}

{% block scripts %}

{% endblock %}

