{% extends 'base.html' %}

{% block title %}Edit Zone{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Edit Zone</li>
{% endblock %}

{% block content %}
<div class="mb-4">
    <a href="{% url 'delete_zone' zone.pk %}" class="btn btn-danger" style="color: white;">Delete</a>
</div>
  <form method="post" class="mb-4" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Save changes</button>
    <a href="{% url 'smart_atomizers_assigned_zone' zone.client.pk zone.pk %}" class="btn btn-outline-secondary" role="button">Cancel</a>
  </form>
{% endblock %}
{% block scripts %}

<script type="text/javascript">
  document.getElementById("clients_link").classList.add("active");
  
</script>
{% endblock %}