{% extends 'base.html' %}

{% block title %}Edit Client{% endblock %}

{% block breadcrumb %}
  
  <li class="breadcrumb-item"><a href="{% url 'clients' %}">Clients</a></li>
  <li class="breadcrumb-item"><a href="{% url 'zones' smart_atomizer.zone.client.pk %}">{{ smart_atomizer.zone.client.name }} Zones</a></li>
  <li class="breadcrumb-item"><a href="{% url 'smart_atomizers_assigned_zone' smart_atomizer.zone.client.pk smart_atomizer.zone.pk %}">{{ smart_atomizer.zone.name }}</a></li>
  <li class="breadcrumb-item active"><a>{{ smart_atomizer.serial }}</a></li>
{% endblock %}

{% block content %}
<div class="mb-4">
    <a href="{% url 'edit_alerts_smart_atomizer_zone' smart_atomizer.zone.client.pk smart_atomizer.zone.pk smart_atomizer.pk%}" class="btn btn-primary" style="color: white;">Edit Alerts</a>
    <a href="{% url 'remove_from_zone' smart_atomizer.pk %}" class="btn btn-warning" style="color: white;">Remove From Zone</a>
</div>
  <form method="post" class="mb-4" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Save changes</button>
    <a href="{% url 'smart_atomizers_assigned_zone' smart_atomizer.zone.client.pk smart_atomizer.zone.pk %}" class="btn btn-outline-secondary" role="button">Cancel</a>
  </form>
{% endblock %}
{% block scripts %}

<script type="text/javascript">
  document.getElementById("clients_link").classList.add("active");
  
</script>
{% endblock %}