{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'clients' %}">Empresas</a></li>
  <li class="breadcrumb-item"><a href="{% url 'zones' client.pk %}">{{ client.name }} Zonas</a></li>
  <li class="breadcrumb-item"><a href="{% url 'smart_atomizers_assigned_zone' client.pk zone.pk %}">{{ zone.name }}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'edit_smart_atomizer_zone' smart_atomizer.zone.client.pk smart_atomizer.zone.pk smart_atomizer.pk %}">{{ smart_atomizer.serial }}</a></li>
  <li class="breadcrumb-item active"><a>Configurar Alertas</a></li>
{% endblock %}

{% block content %}
  <form method="post" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Guardar</button>
  </form>
{% endblock %}
{% block scripts %}

<script type="text/javascript">
  document.getElementById("clients_link").classList.add("active");
  
</script>
{% endblock %}