{% extends 'base.html' %}

{% block title %}Editar Empresa{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Editar Empresa</li>
{% endblock %}

{% block content %}
<div class="mb-4">
    <a href="{% url 'delete_client' client.pk %}" class="btn btn-danger" style="color: white;">Borrar</a>
</div>
  <form method="post" class="mb-4" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Guardar Cambios</button>
    <a href="{% url 'zones' client.pk %}" class="btn btn-outline-secondary" role="button">Guardar</a>
  </form>
{% endblock %}

{% block scripts %}

<script type="text/javascript">
  document.getElementById("clients_link").classList.add("active");
  
</script>
{% endblock %}