{% extends 'base.html' %}

{% block title %}Create New Zone{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'clients' %}">Clients</a></li>
  <li class="breadcrumb-item"><a href="{% url 'zones' client.pk %}">{{ client.name }}</a></li>
  <li class="breadcrumb-item active">New Zone</li>
{% endblock %}

{% block content %}
  <form method="post" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Post</button>
  </form>
{% endblock %}