{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block breadcrumb %}
        <li class="breadcrumb-item"><a href="{% url 'smart_atomizers' %}">Atomizadores</a></li>
        <li class="breadcrumb-item active">Activaciones Pendientes</li>
{% endblock %}

{% block content %}
<div class="mb-4">
</div>

{% include 'includes/tableSmartAtomizer.html' %}

{% endblock %}
{% block scripts %}

<script type="text/javascript">
  document.getElementById("smart_atomizers_link").classList.add("active");
  
</script>
{% endblock %}
