{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block breadcrumb %}
        <li class="breadcrumb-item active"><a href="{% url 'smart_atomizers' %}">Smart Atomizers</a></li>
        <li class="breadcrumb-item active">Pending Activations</li>
{% endblock %}

{% block content %}
<div class="mb-4">
</div>

{% include 'includes/tableSmartAtomizer.html' %}

{% endblock %}

{% block scripts %}
<script>
  $( document ).ready(function() {
    $("#navbarSmartAtomizers").addClass("active");
});
</script>
{% endblock %}
