{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block breadcrumb %}
        <li class="breadcrumb-item"><a href="{% url 'schedule' %}">Horario</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'representatives' %}">Representatnes</a></li>
{% endblock %}

{% block content %}
<div class="mb-4">
        <a href="{% url 'new_representative' %}" class="btn btn-primary">Nuevo Representante</a>
</div>
<div class="mb-4">
  <table class="table table-striped">
    <thead class="thead">
      <tr>
        <th>Nombre</th>
        <th>Apellidos</th>
      </tr>
    </thead>
    <tbody>
      {% for representative in reps %}
        <tr>
          <td>
            <a>{{ representative.first_name }}</a>
          </td>
          <td>
            {{ representative.last_name }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include 'includes/pagination.html' %}
</div>
{% endblock %}

{% block scripts %}

<script type="text/javascript">
  document.getElementById("schedule_link").classList.add("active");
  
</script>
{% endblock %}