{% extends 'base.html' %}


{% block title %}

{% endblock %}

{% block breadcrumb %}
        <li class="breadcrumb-item active"><a href="{% url 'schedule' %}">Horario</a></li>
{% endblock %}

{% block content %}
<div class="mb-4">
        <a href="{% url 'representatives' %}" class="btn btn-primary">Representatne</a>
        <a href="{% url 'new_checkup' %}" class="btn btn-primary">Nueva Visita</a>
        <a href="{% url 'reports' %}" class="btn btn-primary">Reportes de Visitas</a>
</div>
<div class="mb-4">
  <h1>Siguientes Visitas</h1>
  <table class="table table-striped">
    <thead class="thead">
      <tr>
        <th>Representante</th>
        <th>Cliente</th>
        <th>Fecha</th>
        <th>Desde</th>
        <th>Hasta</th>
        <th>Notas</th>
      </tr>
    </thead>
    <tbody>
      {% for checkup in checkups %}
        <tr href="{% url 'schedule' %}">
          <td>
            <a>{{ checkup.representative }}</a>
          </td>
          <td>
            {{ checkup.client }}
          </td>
          <td>
            {{ checkup.day }}
          </td>
          <td>
            {{ checkup.start_time }}
          </td>
          <td>
            {{ checkup.end_time }}
          </td>
          <td>
            {{ checkup.notes }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include 'includes/pagination.html' %}
</div>
<div class="mb-4">
  <h1>Calendario</h1>
</div>
{% endblock %}

{% block scripts %}

<script type="text/javascript">
  document.getElementById("schedule_link").classList.add("active");
  
</script>
{% endblock %}