{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block breadcrumb %}
        <li class="breadcrumb-item active"><a href="{% url 'smart_atomizers' %}">Smart Atomizers</a></li>
{% endblock %}

{% block content %}
<div class="mb-4">
        <a href="{% url 'new_smart_atomizer' %}" class="btn btn-primary">New Smart Atomizer</a>
        <a href="{% url 'assign_smart_atomizer' %}" class="btn btn-primary">Assign Atomizer</a>
</div>
{% endblock %}

{% block scripts %}
<script>
  $( document ).ready(function() {
    $("#navbarSmartAtomizers").addClass("active");
});
</script>
{% endblock %}