{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block breadcrumb %}
        <li class="breadcrumb-item active"><a href="{% url 'smart_atomizers' %}">Smart Atomizers</a></li>
{% endblock %}

{% block content %}
<div class="mb-4">
        <a href="{% url 'new_smart_atomizer' %}" class="btn btn-primary">New Smart Atomizer</a>
        <a href="{% url 'pending_activations' %}" class="btn btn-primary">Pending Activations</a>
</div>

{% include 'includes/tableSmartAtomizer.html' %}

{% endblock %}

{% block scripts %}

<script type="text/javascript">
  document.getElementById("alerts_link").classList.add("active");
  
</script>
{% endblock %}
