{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'clients' %}">Empresas</a></li>
  <li class="breadcrumb-item active"><a href="{% url 'zones' client.pk %}">{{ client.name }} Zonas</a></li>
{% endblock %}

{% block content %}
<div class="mb-4">
    <a href="{% url 'edit_client' client.pk %}" class="btn btn-primary">Editar Empresa</a>
    <a href="{% url 'edit_alerts_client' client.pk %}" class="btn btn-primary">Editar Alertas</a>
    <a href="{% url 'control_client' client.pk %}" class="btn btn-primary">Configurar Empresa</a>
    <a href="{% url 'new_zone' client.pk %}" class="btn btn-primary">Nueva Zona</a>
</div>
<div class="mb-4">
  <table class="table table-striped">
    <thead class="thead">
      <tr>
        <th>Empresa</th>
        <th>Descripción</th>
        <th># Atomizador</th>
        <th>Volumen mL</th>
      </tr>
    </thead>
    <tbody>
      {% for zone in zones %}
        <tr>
          <td>
            <a href="{% url 'smart_atomizers_assigned_zone' client.pk zone.pk %}">{{ zone.name }}</a>
          </td>
          <td>
            {{ zone.description }}
          </td>
          <td style="text-align: center;">
            {{ zone.count_smart_atomizers }}
          </td>
          <td style="text-align: center;">
            {{ zone.sum_zone_total_volume }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include 'includes/pagination.html' %}
</div>
{% endblock %}

{% block scripts %}

<script type="text/javascript">
  document.getElementById("clients_link").classList.add("active");
  
</script>
{% endblock %}