{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'clients' %}">Clients</a></li>
  <li class="breadcrumb-item active"><a href="{% url 'zones' client.pk %}">{{ client.name }} Zones</a></li>
{% endblock %}

{% block content %}
<div class="mb-4">
        <a href="{% url 'new_zone' %}" class="btn btn-primary">New Zone</a>
</div>
{% endblock %}

{% block scripts %}
<script>
  $( document ).ready(function() {
    $("#navbarZones").addClass("active");
});
</script>
{% endblock %}